/*Reseting*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*=========================================================================================================*/

/*Fonts*/
/*font-family: 'Karla', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/*=========================================================================================================*/

body{
	font-family: 'Karla', sans-serif;
	font-size: 16px;
}

.wrapper {
	background-color: #e6eff6;
	min-height: 100%;
	padding: 200px;
}
.content {
	max-width: 900px;
	border-radius: 10px;
	box-shadow: 0 1px 5px;
	background-color: #ffffff;

}
@media (min-width: 1100px){
	.content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 300px;
	}
	.content__join{
	grid-column: 1/3;
	grid-row: 1/2;
	}
	.content__subscription{
	border-radius: 0 0 0 10px;
	}
	.content__why{
		border-radius: 0 0 10px 0;
	}
}
.content__join {
}
.container {
	margin: 0 50px;
}
.join__info{
}
.join__info h2{
	color: #3eb0a8;
	font-weight: 700;
	padding:  30px 0 30px 0;
	font-size: 20px;
}
.join__info h3{
	color: hsl(71, 73%, 54%);
	margin: 0 0 25px 0;
}
.join__info p{
	color: #a8adb1;
	margin: 0 0 40px 0;
	line-height: 25px;
}
.content__subscription {
	background-color: #2bb3b1;
}
.subscription__info {
	color: #fff;
	padding: 60px 0 30px 0;
}
.subscription__text {
	padding: 0 0 30px 0;
}
.subscription__text h2{
	font-size: 16px;
	font-weight: 700;
	margin: 0 0 25px 0;
}
.subscription__text h3{
	font-size: 25px;
	font-weight: 700;
	margin: 0 0 15px 0;
}
.subscription__text span{
	color: hsl(204, 43%, 93%);
	opacity: 0.5;
}
.subscription__btn {
	max-width: 300px;
	height: 50px;
	background-color: hsl(71, 73%, 54%);
	border-radius: 7px;
	box-shadow: 0 1 1px;
}
.subscription__btn-text {
	text-align: center;
	padding: 17px 0;
}
.content__why {
	background-color: #4abebd;
	border-radius: 0 0 10px 0;
}
.why__info {
	padding: 60px 0 30px 0;
	color: #fff;
}
.why__info p{
	font-size: 16px;
	font-weight: 700;
	margin: 0 0 25px 0;
}

.why__info li{
	line-height: 25px;
	color: hsl(204, 43%, 93%)
}